
-- Colorscheme for the theme

local colors = {
	debug = '#fb48c4', -- DEBUG PINK DONT USE TERRIBLE COLOR
	-- Original colors from Trash Panda theme by Jason Hulbert -> https://github.com/jasonhulbert/jetbrains-trash-panda-theme
	--transparent = '#00000000',
	--translucent = '#00000050',
	base1 =			'#{{ theme.base1 }}',	-- Editable / Interactive Background
	base2 = 		'#{{ theme.base2 }}',	-- Background
	base3 = 		'#{{ theme.base3 }}',	-- Border
	base4 = 		'#{{ theme.base4 }}',	-- Ignored / Disabled
	base5 = 		'#{{ theme.base5 }}',	-- Submodule / Comment / Label / UI "Grey" Elements
	base6 = 		'#{{ theme.base6 }}',	-- Foreground
	base7 = 		'#{{ theme.base7 }}',	-- Editable / Interactive Foreground
	base8 = 		'#{{ theme.base8 }}',	-- Bright Foreground ### its white just dont use it ###
	accent =		'#{{ theme.accent }}',
	accent_mod1 = 		'#{{ theme.accent_mod1 }}',
	accent_mod2 = 		'#{{ theme.accent_mod2 }}',
	accent_mod3 = 		'#{{ theme.accent_mod3 }}',
	lime = 			'#{{ theme.lime }}',
	lime_mod1 =		'#{{ theme.lime_mod1 }}',
	lime_mod2 = 		'#{{ theme.lime_mod2 }}',
	lime_mod3 = 		'#{{ theme.lime_mod3 }}',
	green = 		'#{{ theme.green }}',
	green_mod1 = 		'#{{ theme.green_mod1 }}',
	green_mod2 = 		'#{{ theme.green_mod2 }}',
	green_mod3 = 		'#{{ theme.green_mod3 }}',
	blue = 			'#{{ theme.blue }}',
	blue_mod1 = 		'#{{ theme.blue_mod1 }}',
	blue_mod2 = 		'#{{ theme.blue_mod2 }}',
	blue_mod3 = 		'#{{ theme.blue_mod3 }}',
	cyan = 			'#{{ theme.cyan }}',
	cyan_mod1 = 		'#{{ theme.cyan_mod1 }}',
	cyan_mod2 = 		'#{{ theme.cyan_mod2 }}',
	cyan_mod3 = 		'#{{ theme.cyan_mod3 }}',
	purple = 		'#{{ theme.purple }}',
	purple_mod1 = 		'#{{ theme.purple_mod1 }}',
	purple_mod2 = 		'#{{ theme.purple_mod2 }}',
	purple_mod3 = 		'#{{ theme.purple_mod3 }}',
	pink = 			'#{{ theme.pink }}',
	pink_mod1 = 		'#{{ theme.pink_mod1 }}',
	pink_mod2 = 		'#{{ theme.pink_mod2 }}',
	pink_mod3 = 		'#{{ theme.pink_mod3 }}',
	red = 			'#{{ theme.red }}',
	red_mod1 = 		'#{{ theme.red_mod1 }}',
	red_mod2 = 		'#{{ theme.red_mod2 }}',
	red_mod3 = 		'#{{ theme.red_mod3 }}',
	orange = 		'#{{ theme.orange }}',
	orange_mod1 = 		'#{{ theme.orange_mod1 }}',
	orange_mod2 = 		'#{{ theme.orange_mod2 }}',
	orange_mod3 = 		'#{{ theme.orange_mod3 }}',
	yellow = 		'#{{ theme.yellow }}',
	yellow_mod1 = 		'#{{ theme.yellow_mod1 }}',
	yellow_mod2 = 		'#{{ theme.yellow_mod2 }}',
	yellow_mod3 = 		'#{{ theme.yellow_mod3 }}',
	disabled = 		'#{{ vim.ignore }}',
	macro_gold = 		'#{{ nvim.macro_gold }}',
	macro_blue = 		'#{{ nvim.macro_blue }}',
	class_purple = 		'#{{ vim.folded }}',
	typedef_purple = 	'#{{ nvim.typedef }}',
	function_call_yellow = 	'#{{ nvim.function }}',
	diff = {
		green = 	'#{{ nvim.diff_blue }}',
		add = 		'#{{ nvim.diff_blue }}',
		orange = 	'#{{ theme.orange }}',
		merge = 	'#{{ theme.orange }}',
		red = 		'#{{ theme.red }}',
		blue = 		'#{{ theme.blue }}',
		grey = 		'#{{ theme.base6 }}',
		white = 	'#{{ theme.base7 }}',
	},
}

return colors 
