accent: "#{{ theme.accent }}"
background: "#{{ theme.base1 }}"
details: "darker"
foreground: "#{{ theme.base6 }}"
terminal_colors:
  bright:
    black: "#{{ theme.base2 }}"
    blue: "#{{ theme.blue }}"
    cyan: "#{{ theme.cyan }}"
    green: "#{{ theme.green }}"
    magenta: "#{{ theme.purple }}"
    red: "#{{ theme.red }}"
    white: "#{{ theme.base8 }}"
    yellow: "#{{ theme.yellow }}"
  normal:
    black: "#{{ theme.base0 }}"
    blue: "#{{ theme.blue_mod1 }}"
    cyan: "#{{ theme.cyan_mod1 }}"
    green: "#{{ theme.green_mod1 }}"
    magenta: "#{{ theme.purple_mod1 }}"
    red: "#{{ theme.red_mod1 }}"
    white: "#{{ theme.base7 }}"
    yellow: "#{{ theme.yellow_mod1 }}"